AI Email Labeller.json
{
  "name": "AI Email Labeller",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -448
      ],
      "id": "c25468c3-dfa0-40f2-a906-8f709bee8a70",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        -448
      ],
      "id": "9d666c78-45e6-40f8-ac8d-2ff076f82996",
      "name": "Get many labels",
      "webhookId": "7d66695d-9d3b-4c80-be83-316e5809e24a",
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "aksOuUdo7dMfHRq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const schema = {\n  \"Academic & University\": {\n    \"Coursework/Assignments\": 0.95,\n    \"Research/Projects\": 0.90,\n    \"University Official\": 0.85,\n    \"Faculty/Advisor\": 0.80\n  },\n  \"Personal\": {\n    \"Family\": 0.93,\n    \"Friends/Social\": 0.88,\n    \"Personal Subscriptions\": 0.75,\n    \"Event Invitations\": 0.70\n  },\n  \"Online Accounts & Registrations\": {\n    \"Shopping/E-commerce\": 0.82,\n    \"Tech Tools/SaaS\": 0.79,\n    \"Newsletters/Updates\": 0.65,\n    \"Verification Emails\": 0.50\n  },\n  \"Finance\": {\n    \"Banking\": 0.97,\n    \"Investments/Credit\": 0.85,\n    \"Financial Offers\": 0.60\n  },\n  \"Security & Alerts\": {\n    \"Password Reset\": 0.98,\n    \"Login Alerts\": 0.94,\n    \"Suspicious Activity\": 0.30\n  },\n  \"Spam & Promotion\": {\n    \"Ads/Promotions\": 0.25,\n    \"Cold Outreach\": 0.15\n  },\n  \"Other\": {\n    \"Uncategorized/Review\": 0.50\n  }\n};\n\nconst allLeafLabels = [];\nfor (const parent in schema) {\n  for (const child in schema[parent]) {\n    allLeafLabels.push(child);\n  }\n}\n\n// n8n input items\nconst incomingItems = $input.all();\n\nconst foundLabels = new Set();\nfor (const item of incomingItems) {\n  if (item.json && item.json.name) {\n    if (allLeafLabels.includes(item.json.name)) {\n      foundLabels.add(item.json.name);\n    }\n  }\n}\n\nconst missingLabels = allLeafLabels.filter(label => !foundLabels.has(label));\n\n// Return items in n8n format\nreturn missingLabels.map(label => ({ json: { label, value: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -448
      ],
      "id": "2626d8ef-e43b-4044-9518-4a15b1dbb816",
      "name": "Code",
      "retryOnFail": false
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "{{ $json.label }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        -464
      ],
      "id": "47c8b65b-8057-4d0b-a637-61d621983460",
      "name": "Create a label",
      "webhookId": "3a99b907-d388-451f-a9c6-848429c98e36",
      "credentials": {
        "gmailOAuth2": {
          "id": "aksOuUdo7dMfHRq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -208
      ],
      "id": "f38bf504-a86f-479f-90aa-856ef9b4d501",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "aksOuUdo7dMfHRq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI",
          "mode": "list",
          "cachedResultName": "Email Id cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "status": "ready"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        -208
      ],
      "id": "64becddd-4ebc-407d-8df1-692007254023",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y2kITahXALQjtPMd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        144
      ],
      "id": "172d0c3a-98d5-4532-89dd-6d4a80f382dd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI",
          "mode": "list",
          "cachedResultName": "Email Id cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "ready"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -848,
        144
      ],
      "id": "5bd6ef8b-fc30-438a-be25-d256d4e924c3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y2kITahXALQjtPMd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "=#Email Text\n## Subject\n{{ $json.Subject }}\n\n## From\n{{ $json.From }}\n\n## Body\n{{ $json.snippet }}\n\n#Instructions\nPlease reply in JSON. No MD Json, but json, your response must be EXCLUSIVELY JSON. Please include all categories. If not applicable, score a 0.\n\nALL SCORES ARE BETWEEN 0-1 (WHERE 0 is not at all, and 1 is extremely so). Beware of scammers trying to 'convince' you its urgent. Really try to score between  0  and 1, (float)\n\nDont give INBOX label the higest score or else everthing will go in INBOX label. If all others are zero then only give INBOX label the highest value.",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"categories\": {\n\n\n    \"Personal\": 0.64 ,\n     \"Receipts\": 0.48 ,\n    \"Work\": 0.71 ,\n     \"Coursework/Assignments\": 0.53 ,\n    \"Research/Projects\": 0.69 ,\n    \"University Official\": 0.57 ,\n     \"Faculty/Advisor\": 0.61 ,\n   \"Family\": 0.86 ,\n    \"Friends/Social\": 0.59 ,\n     \"Personal Subscriptions\": 0.34 ,\n     \"Event Invitations\": 0.55 ,\n    \"Shopping/E-commerce\": 0.42 ,\n     \"Tech Tools/SaaS\": 0.47 ,\n     \"Newsletters/Updates\": 0.31 ,\n     \"Verification Emails\": 0.66 ,\n     \"Banking\": 0.63 ,\n     \"Investments/Credit\": 0.52 ,\n     \"Financial Offers\": 0.28 ,\n     \"Password Reset\": 0.80 ,\n     \"Login Alerts\": 0.75 ,\n   \"Suspicious Activity\": 0.23 ,\n    \"Ads/Promotions\": 0.36 ,\n    \"Cold Outreach\": 0.27 ,\n   \"Uncategorized/Review\": 0.41 ,\n    \"LinkedIn Job Alerts\": 0.49 \n  },\n  \"topics\": [\n    \"chat\",\n    \"sent\",\n    \n    \"important\",\n    \"trash\",\n    \"draft\",\n    \"spam\",\n    \"category-forums\",\n    \"category-updates\",\n    \"category-personal\",\n    \"category-promotions\",\n    \"category-social\",\n    \"yellow-star\",\n    \"starred\",\n    \"unread\",\n    \"personal\",\n    \"receipts\",\n    \"work\",\n    \"coursework-assignments\",\n    \"research-projects\",\n    \"university-official\",\n    \"faculty-advisor\",\n    \"family\",\n    \"friends-social\",\n    \"personal-subscriptions\",\n    \"event-invitations\",\n    \"shopping-ecommerce\",\n    \"tech-tools-saas\",\n    \"newsletters-updates\",\n    \"verification-emails\",\n    \"banking\",\n    \"investments-credit\",\n    \"financial-offers\",\n    \"password-reset\",\n    \"login-alerts\",\n    \"suspicious-activity\",\n    \"ads-promotions\",\n    \"cold-outreach\",\n    \"uncategorized-review\",\n    \"linkedin-job-alerts\"\n  ],\n  \"spamScore\": 0.2,\n  \"isUrgent\": false,\n  \"urgencyScore\": 0.3\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -336,
        144
      ],
      "id": "337bae5d-6f22-4bf5-a204-cfbb96582183",
      "name": "Information Extractor",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        528
      ],
      "id": "924160eb-6d93-43d0-aa77-e227f65e5a02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CwEWNHF3MHhP0YK7",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function flattenObject(obj, parentKey = '') {\n  const result = {};\n  if (obj == null) return result;\n\n  for (const key of Object.keys(obj)) {\n    const newKey = parentKey ? `${parentKey}.${key}` : key;\n    const value = obj[key];\n\n    if (Array.isArray(value)) {\n      value.forEach((item, index) => {\n        const arrayKey = `${newKey}[${index}]`;\n        if (item && typeof item === 'object' && !Array.isArray(item)) {\n          Object.assign(result, flattenObject(item, arrayKey));\n        } else {\n          result[arrayKey] = item;\n        }\n      });\n    } else if (value && typeof value === 'object') {\n      Object.assign(result, flattenObject(value, newKey));\n    } else {\n      result[newKey] = value;\n    }\n  }\n\n  return result;\n}\n\n// In n8n, $input.first().json.output gets the output data\nconst data = $input.first().json.output ?? {};\n\n// Flatten the whole structure (no data[0])\nconst flattened = flattenObject(data);\n\n// Only keys starting with 'categories'\nconst filteredEntries = Object.entries(flattened).filter(([key]) => key.startsWith('categories'));\n\n// Return one item per { key, value } in n8n format\nreturn filteredEntries.map(([key, value]) => ({\n  json: { key, value }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -96
      ],
      "id": "bba459b7-8617-44cf-887d-a750ee8eb31b",
      "name": "Flatten our schema",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        -96
      ],
      "id": "c83f4bf6-adac-42e2-bc08-dc4a39b44f73",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f5c8bc8-b6a9-4fe8-b4ec-0712e11a7cee",
              "leftValue": "={{ $json.value }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        -80
      ],
      "id": "4d250f52-f0a4-41d4-8c2d-f0df4589de7f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        -96
      ],
      "id": "a4a4e62f-7324-4d9d-9c1e-8dd2d25a1fe3",
      "name": "Get many labels1",
      "webhookId": "6263bdaa-5ec2-4840-bc6e-104098b443db",
      "credentials": {
        "gmailOAuth2": {
          "id": "aksOuUdo7dMfHRq4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getIdByLabelName(labelList, targetName) {\nconst match = labelList.find(label => label.json.name === targetName);\nreturn match ? match.json.id : \"Label_30\";\n}\nconst allLabels = $(\"Get many labels1\").all();\nconst key=$('If').first().json.key;\nconst dots = key.split(\".\");\nconst label = dots[dots.length-1];\nconst id = getIdByLabelName(allLabels, label);\nreturn {\njson: {\nkey: label,\nvalue: key,\nid: id,\n}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -96
      ],
      "id": "a1e3ea9e-c472-41c4-9af2-ce5678b58c6f",
      "name": "Find Corresponding Id"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $item(\"0\").$node[\"Find Message By Id\"].json[\"id\"] }}",
        "labelIds": "={{ $('Find Corresponding Id').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -96
      ],
      "id": "b361befc-5f91-42d8-b8f9-e2de61761bfc",
      "name": "Add label to message",
      "webhookId": "ee1368a2-a358-4b0d-b58f-1c8f638890f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "aksOuUdo7dMfHRq4",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.ID }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -592,
        144
      ],
      "id": "ea90ab5d-9a24-4e9d-a3a7-b60d72c5c5e2",
      "name": "Find Message By Id",
      "webhookId": "56d1f149-9726-455b-8e0d-16c68063ca07",
      "credentials": {
        "gmailOAuth2": {
          "id": "aksOuUdo7dMfHRq4",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI",
          "mode": "list",
          "cachedResultName": "Email Id cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "status": "done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        -96
      ],
      "id": "56448f9a-fa87-4187-893d-c6a43c6d617e",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y2kITahXALQjtPMd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "output.categories",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        256
      ],
      "id": "4921da27-55c8-4eca-b2ef-7a9e41e875c5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.isUrgent }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "0b77976d-bf74-41b4-87fa-8de71f75295f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is Urgent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "180f084d-c620-4fa2-9a5a-43db4719b98b",
                    "leftValue": "={{ $json.output.spamScore }}",
                    "rightValue": 0.3,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is Spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        240
      ],
      "id": "7bf46e31-5963-48ce-9709-6f56851f98e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "phoneNumberId": "817331171459821",
        "recipientPhoneNumber": "919923369680",
        "template": "hello_world|en_US"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        848,
        272
      ],
      "id": "2fb06388-d2ce-454f-959e-8ec83528dd08",
      "name": "Send template",
      "webhookId": "b363660d-2762-4d7c-bfd2-9329117e9938",
      "credentials": {
        "whatsAppApi": {
          "id": "z3GkumJjFRaYQ8bk",
          "name": "WhatsApp account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -448
      ],
      "id": "d8c7fd3d-4de5-4933-80fb-c0fa15b551b0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI",
          "mode": "list",
          "cachedResultName": "Email Id cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "error",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        800
      ],
      "id": "fe2fca44-36db-4737-a77e-3bf3ad0f2b4b",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y2kITahXALQjtPMd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI",
          "mode": "list",
          "cachedResultName": "Email Id cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        -96
      ],
      "id": "c0a11893-8da4-4127-a446-3ee861691ab4",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y2kITahXALQjtPMd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        -96
      ],
      "id": "e9e617af-b3fb-4d8a-b784-cb408110318a",
      "name": "Loop Over Items2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI",
          "mode": "list",
          "cachedResultName": "Email Id cache",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W4berlO_fSxess2aPfkPtikXX1S45b7g20Xl5kP2NlI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        912
      ],
      "id": "b16b8047-d9ec-44e7-a910-6ae2ed75506c",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y2kITahXALQjtPMd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        768
      ],
      "id": "af6d5ca7-36ba-4dca-bcdf-69bfb63a9dad",
      "name": "Loop Over Items3",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Get many labels": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a label": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Find Message By Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Flatten our schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten our schema": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many labels1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels1": {
      "main": [
        [
          {
            "node": "Find Corresponding Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Corresponding Id": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Message By Id": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Create a label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveExecutionProgress": true
  },
  "versionId": "85d07956-a6f7-4f34-86b6-ab4ae780eee5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98f408420592a444431ed76f6c328916657ab9beb072928df8fee7b5e17db78b"
  },
  "id": "tpgLIp8r3ORbBkzp",
  "tags": []
}
